* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------start main components---------*/
html,body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    font-family: 'lato', "Arial", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    color: #555;
    overflow-x: hidden;
}

.clearfix{
  zoom:1;  
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row {
    max-width: 1280px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.hero-text-box {
    max-width: 1280px;
    /*    # margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(resources/img/31.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/*-----------------------href a linkst----------------------------------*/
a:link,a:visited{
    color: #589;
    padding-bottom: 2px;
    border-bottom: 1px solid #565;
    color: #589;
    text-decoration: none;
    transition: border-bottom 5s ,color 3s
}
a:hover,a:active{
    border: 0;
    color: aqua;
     border-bottom: transparent;
}
/*----------reuseable H1 element---------*/
h1,
h2 {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

.h1-small {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #589;
    font-size: 100%;
    border-radius: 2px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 7px;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    margin: 0 auto;
    height: 2px;
    background-color: #589;
    width: 100px;
    content: '';
    margin-top: 30px;
}

h3 {
    font-size: 100%;
    margin-bottom: 15px;
    font-weight: 300;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*----------------------Buttons------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 100%;
    margin: 10px 5px;
    transition: font-size 0.3s
}

.full-btn:link,
.full-btn:visited {
    background-color: #fff;
    border: 1px solid #fff;
    color: #589;
}

.full-btn:hover,
.full-btn:active {
    background-color: #fff;
    border: 1px solid #fff;
    color: #589;
}

.btn:hover,
.btn:active,input[type=submit]:hover,
input[type=submit]:active {
    display: inline-block;
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 100%;
    margin: 10px 5px
}

.ghost-btn:link,
.ghost-btn:visited {
    color: #fff;
    border: 1px solid #fff;
}

/*-------------------------------logo-------------------------*/
.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px
}

/*-------------------------------Navigation bar-------------------------*/
.main-nav {
    float: right;
    list-style: none;
    margin: 80px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%
}

.main-nav li a:link,
.main-nav li a :visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding: 8px 0;
}

.main-nav li a:hover,
main-nav li a:active {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid #589;
}

/*-------------------------------Icons-------------------------*/
.icon-big {
    font-size: 400%;
    display: block;
    color: #589;
    margin-bottom: 10px;
}

.box {
    margin-left: 20px;
}

.box p {
    font-size: 90%;
}

/*-------------------------------Images-------------------------*/
.section-meals {
    padding: 0px;
   
}
.section-steps{
 background-color: #f4f4f4;   
}


.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}





.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto; 
    transform:scale(1.2);
    background-color: #000;
    
}

.meal-photo img:hover {
    opacity: 1;
    width: 100%;
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)) ;
    height: auto; 
    transform: scale(1.7);
    transition:  transform  0.8s,opacity 0.9s; }

.work-steps{
    margin-bottom: 50px;
}

.steps-box :first-child{
   margin-top: 30px;
   text-align: right;
    padding-right: 3%;
    
}
.steps-box :last-child{
    text-align: left;
     margin-top: 70px;
    padding-left: 3%;
    
}

.app-screen{
    width: 50%;
}
.work-steps:last-of-type{
   margin-bottom: 80px 
}

.work-steps div {
     color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.btn-app img{
    height: 80px;
    width: auto
}

.city-photo{
  opacity: 0.7;
    height: 68px
}

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.city-features{
    margin-bottom: 5px;
}


.city-features i {
   display: inline-block;
    color: #589;
    margin-right: 5px;
    width: 30px;
    text-align: center;
    line-height: 120%;
    vertical-align: middle;
}






/* 
.meals-showcase :nth-child(2) {
    list-style: none;
    width: 25%;
    height: 400px;
    list-style: none;
    
}
*/
/*-------------------------------Testimonials-------------------------*/
/*-------------------------------Testimonials-------------------------*/
.section-testimonials {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(resources/img/15.jpg);
    background-size: cover;
    background-attachment: fixed;

    background-color: #000;
    color: #f4f4f4;
}


blockquote{
    font-style: italic;
    padding: 2%;
    line-height: 145%;
    position: relative;
    margin-top: 50px
    
}
blockquote:before {
    content: '\201c';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    
}

cite img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    vertical-align:middle;
    margin-right: 10px;
    
}

/*-------------------------------Price-plans-------------------------*/
/*-------------------------------price-plans-------------------------*/

.section-payment-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 2px #e8e8e8
}

.plan-box div{
    padding: 15px;
    border-bottom: 2px solid #e8e8e8
}

.price-plan{
    color: #589;
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
}

.price-plan span{
    font-size: 40%;
}

.price-plan-dress{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 8px
}
.plan-box ul li i{
    color: #589;
    margin-right: 10px;
    
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

/*-------------------------------form-plans-------------------------*/
/*-------------------------------form-plans-------------------------*/

.form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    border: 2px solid #589;
    
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 5px 10px
}

